.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 328px;
  height: auto;
  
  &__title {
	margin-bottom: 10px;
  }
  
  &__cities {
	margin-bottom: 10px;
	
	&__item {
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: space-between;
	  margin-bottom: 10px;
	}
  }
}